div{
    margin: 10px;
    padding: 10px;
}
.box1{
background-color: #ff00ff;
float: left;
}
.box2{
    background-color: #00ff00;
    float: left;
}
.box3{
    background-color: #0000ff;
    float: left;
}
.box4{
    background-color: #ffff00;
    /* float: right; */
    clear: both; /*float 속성 해제*/ 
}